@{
  Layout = "_Layout";
}

<h2>@Model.GetName()</h2>
<h3>Continent: @Model.GetContinent()</h3>
<h3>Population: @Model.GetPopulation()</h3>

<a href="/"><button type="button" name="button">View Countries</button></a>
